<div class="modal-header">
  <h2 class="text-danger">Change Your Password</h2>
</div>
<form [formGroup]="changePwForm" (ngSubmit)="changePassword()">
  <div class="modal-body">
    <div class="form-group">
      <label for="new-pw">New Password:</label>
      <input type="password" id="new-pw" class="form-control p-2" placeholder="New Password" formControlName="password"/>
      <div *ngIf="password.invalid && (password.touched || password.dirty)"
        class="d-flex flex-column text-danger mt-1">
        <small *ngIf="password.hasError('required')">
          Password is required!
        </small>
        <small *ngIf="password.hasError('minlength')">
          Password must be at least 8 characters!
        </small>
        <small *ngIf="password.hasError('hasWhitespace')">
          Password must not contain spaces!
        </small>
        <small *ngIf="password.hasError('hasLetter')">
          Password must contain at least 1 letter!
        </small>
        <small *ngIf="password.hasError('hasNumber')">
          Password must contain at least 1 number!
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="confirm-pw">Confirm Password:</label>
      <input type="password" id="confirm-pw" class="form-control p-2" placeholder="Confirm New Password" formControlName="confirmPassword"/>
      <div *ngIf="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)"
        class="text-danger mt-1">
        <small *ngIf="confirmPassword.errors?.required">
          Confirm password is required!
        </small>
        <small *ngIf="confirmPassword.hasError('isPassswordMatch')">
          Password do not match!
        </small>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
    <button class="btn btn-success" [disabled]="changePwForm.invalid">Change Password</button>
  </div>
</form>

