<div class="mb-3">
  <div
    class="
      bg-light
      pl-4
      pr-2
      d-flex
      justify-content-between
      border border-bottom-0
      py-2
    "
  >
    <div class="d-flex align-items-center">
      <div
        class="cursor__pointer"
        (click)="seeAuthorProfile(commentContent?.author?.username)"
      >
        <img
          [src]="
            commentContent?.author?.image ||
            'https://static.productionready.io/images/smiley-cyrus.jpg'
          "
          alt="avt"
          width="30"
          class="rounded-circle"
        />
      </div>
      <div class="d-flex flex-column text-white ml-3 mr-3">
        <p
          class="mb-0 cursor__pointer text-dark"
          (click)="seeAuthorProfile(commentContent?.author?.username)"
        >
          {{ commentContent?.author?.username | titlecase }} &nbsp;
        </p>
        <small class="mb-0 text-black-50">
          {{ commentContent?.createdAt | timeCustom }}
        </small>
      </div>
    </div>
    <a
      *ngIf="isHost"
      type="button"
      class="btn"
      data-placement="top"
      title="Delete comment"
      data-toggle="modal"
      data-target="#modalDeleteComment"
      (click)="deleteComment(commentContent?._id)"
    >
      <span class="text-danger">
        <i class="fas fa-trash"></i>
      </span>
    </a>
  </div>
  <div class="border border-top-0 rounded-bottom px-4 bg-light">
    <hr class="mt-0" />
    <div class="custom__markdown" [innerHTML]="commentContent?.body | markdown"></div>
  </div>
</div>
