<div class="mb-3">
  <div
    class="
      bg-light
      pl-3
      d-flex
      justify-content-between
      border border-bottom-0
      py-2
    "
  >
    <div class="d-flex align-items-center">
      <div
        class="cursor__pointer"
        (click)="seeAuthorProfile(commentContent?.author?.username)"
      >
        <img
          [src]="
            commentContent?.author?.image ||
            'https://banner2.cleanpng.com/20180625/at/kisspng-business-game-avatar-computer-program-google-smart-object-5b315c2b2ad958.6413531715299615151755.jpg'
          "
          alt="avt"
          width="30"
          class="rounded-circle"
        />
      </div>
      <div class="d-flex text-white ml-3 mr-3">
        <p
          class="mb-0 cursor__pointer text-dark"
          (click)="seeAuthorProfile(commentContent?.author?.username)"
        >
          {{ commentContent?.author?.username | titlecase }} /&nbsp;
        </p>
        <p class="mb-0 text-black-50">
          {{ commentContent?.createdAt | date: "longDate" }}
        </p>
      </div>
    </div>
    <a
      *ngIf="isHost"
      type="button"
      class="btn"
      data-placement="top"
      title="Delete comment"
      data-toggle="modal"
      data-target="#modalDeleteComment"
    >
      <span class="text-danger">
        <i class="fas fa-trash"></i>
      </span>
    </a>
  </div>
  <div class="border border-top-0 rounded-bottom pl-5 pr-2 pb-3 bg-light">
    <hr class="mt-0" />
    <span class="pl-2">
      {{ commentContent?.body }}
    </span>
  </div>
</div>

<!-- Modal Confirm Delete Article -->
<div
  class="modal fade"
  id="modalDeleteComment"
  tabindex="-1"
  aria-labelledby="modalConfirmDeleteComment"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfirmDeleteComment">
          Confirm Delete Comment
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this comment?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="deleteComment(commentContent?.id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
