<div class="mb-3">
  <div class="border rounded p-3">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum,
    perferendis.
  </div>
  <div class="bg-light d-flex justify-content-between border border-top-0">
    <div class="d-flex pl-2">
      <div class="d-flex align-items-center">
        <img
          src="https://banner2.cleanpng.com/20180625/at/kisspng-business-game-avatar-computer-program-google-smart-object-5b315c2b2ad958.6413531715299615151755.jpg"
          alt="avt"
          width="30"
          class="rounded-circle"
        />
      </div>
      <div class="text-white ml-3 mr-3 d-flex align-items-center">
        <p class="mb-0 text-dark"><em>Publish Date</em></p>
      </div>
    </div>
    <a class="btn">
      <span>
        <i class="fas fa-trash"></i>
      </span>
    </a>
  </div>
</div>
