<div class="mt-5">
  <form [formGroup]="markdownForm" (ngSubmit)="submitForm(markdownForm)">
    <div class="form-group">
      <label for="Title">Title <span class="text-danger">*</span></label>
      <input
        formControlName="title"
        class="form-control"
        id="Title"
        aria-describedby="Title"
      />
    </div>
    <div>
      <ul
        class="text-danger"
        *ngIf="
          (markdownForm.get('title')?.invalid &&
            markdownForm.get('title')?.dirty) ||
          (markdownForm.get('title')?.invalid &&
            markdownForm.get('title')?.touched)
        "
      >
        <li *ngIf="markdownForm.get('title')?.hasError('required')">
          Title is required
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label>Description <span class="text-danger">*</span></label>
      <input
        formControlName="description"
        class="form-control"
        id="Description"
        aria-describedby="Description"
      />
    </div>
    <div>
      <ul
        class="text-danger"
        *ngIf="
          (markdownForm.get('description')?.invalid &&
            markdownForm.get('description')?.dirty) ||
          (markdownForm.get('description')?.invalid &&
            markdownForm.get('description')?.touched)
        "
      >
        <li *ngIf="markdownForm.get('description')?.hasError('required')">
          Description is required
        </li>
      </ul>
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-between mb-1">
        <label class="d-flex align-items-end mb-0"
          >Content <span class="text-danger">*</span></label
        >
        <a
          *ngIf="!showPreviewMarkdown"
          class="btn btn-dark d-flex align-items-center"
          (click)="showPreviewMarkdown = true"
        >
          <span> <i class="fas fa-eye"></i> &nbsp; Preview </span>
        </a>
        <a
          *ngIf="showPreviewMarkdown"
          class="btn btn-dark d-flex align-items-center"
          (click)="showPreviewMarkdown = false"
        >
          <span> <i class="fas fa-eye-slash"></i> &nbsp; Editor </span>
        </a>
      </div>
      <app-markdown-editor
        [control]="contentRawControl"
        [showPreview]="showPreviewMarkdown"
      ></app-markdown-editor>
    </div>
    <div>
      <ul
        class="text-danger"
        *ngIf="
          (markdownForm.get('content')?.invalid &&
            markdownForm.get('content')?.dirty) ||
          (markdownForm.get('content')?.invalid &&
            markdownForm.get('content')?.touched)
        "
      >
        <li *ngIf="markdownForm.get('content')?.hasError('required')">
          Content is required
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label>
        Tag
        <span class="text-black-50">
          <em>(multi tags separated by commas)</em>
        </span>
      </label>
      <input
        formControlName="tags"
        class="form-control"
        id="Tags"
        aria-describedby="Tags"
      />
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-success">Post</button>
    </div>
  </form>
</div>
