<nav class="cursor__pointer">
  <ul ngbNav class="nav-tabs">
    <li ngbNavItem *ngFor="let feature of featuresArr">
      <a
        ngbNavLink
        (click)="getDataByFeature(feature)"
        [class.active]="currentFeature === feature"
      >
        {{ feature }}
      </a>
    </li>

    <li ngbNavItem *ngIf="showArticlesByTag">
      <a ngbNavLink [class.active]="currentFeature?.includes('Tag Feed')">
        #{{ currentHastag }}
      </a>
    </li>
  </ul>
</nav>
<div class="tab-content">
  <div class="p-3 mt-3" *ngIf="currentArticlesObj?.articles?.length === 0">
    <p class="h5">No articles are here... yet.</p>
  </div>
  <div class="custom__height">
    <div class="col p-3" *ngFor="let article of currentArticles">
      <app-single-article [articleObj]="article"></app-single-article>
    </div>
  </div>
  <app-pagination
    *ngIf="currentArticlesObj?.articles?.length !== 0"
    [page]="currentPageIdx"
    [collectionSize]="currentArticlesObj?.articlesCount"
    [pageSize]="pageSize"
    [maxSize]="maxSize"
    (currentPageClick)="getCurrentPageIndex($event)"
  ></app-pagination>
</div>
