<nav class="cursor__pointer">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active">Your Feed</a>
    <a class="nav-link">Global Feed</a>
  </div>
</nav>
<div class="tab-content">
  <div class="row row-cols-3">
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
  </div>
</div>
