.cursor__pointer {
  cursor: pointer;
}

.custom__height {
  min-height: 50vh;
}

.nav-tabs .nav-link {
  background-color: #ffffff;
  opacity: 0.7;
}

.active {
  background-color: #696767 !important;
  color: #fff !important;
  opacity: 1 !important;
}
