<nav class="cursor__pointer">
  <ul ngbNav class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Your Feed</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Global Feed</a>
    </li>
  </ul>
</nav>
<div class="tab-content">
  <div class="row row-cols-3">
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
    <div class="col p-3">
      <app-single-article></app-single-article>
    </div>
  </div>
</div>
