<div class="w-50 mx-auto">
  <h1 class="text-center text-secondary my-5">Setting</h1>
  <form class="d-flex flex-column">
    <div class="form-group">
      <input type="text" class="form-control py-4" placeholder="Image URL">
    </div>
    <div class="form-group">
      <input type="text" class="form-control py-4" placeholder="Username">
    </div>
    <div class="form-group">
      <textarea class="form-control" placeholder="Bio" rows="7"></textarea>
    </div>
    <div class="form-group">
      <input type="email" class="form-control py-4" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control py-4" placeholder="New password">
    </div>
    <div class="align-self-center pt-3">
      <button type="button" class="btn btn-primary ml-4 py-3 px-4">Update</button>
    </div>
  </form>
</div>
