<div class="card bg-light col-12 sticky-top">
  <div class="card-body">
    <h5 class="card-title">Popular Tags</h5>
    <hr />
    <div class="row text-break">
      <a class="btn btn-info text-uppercase m-1">Bike</a>
      <a class="btn btn-info text-uppercase m-1">Building</a>
      <a class="btn btn-info text-uppercase m-1">Camera</a>
      <a class="btn btn-info text-uppercase m-1">Lifestyle</a>
      <a class="btn btn-info text-uppercase m-1">Lake</a>
      <a class="btn btn-info text-uppercase m-1">Stormtrooper</a>
    </div>
  </div>
</div>
