<div class="mx-auto w-form">
  <app-particles></app-particles>
  <form class="d-flex flex-column" [formGroup]="signUpForm" (ngSubmit)="register()">
    <div class="mt-5 mb-4">
      <h1 class="text-secondary text-center mb-3">Sign up</h1>
    </div>
    <div class="form-group">
      <input type="text" class="form-control py-4" placeholder="Username" formControlName="username" />
      <div *ngIf="submitted || username.invalid && (username.touched || username.dirty)" class="d-flex flex-column text-danger mt-1">
        <small *ngIf="username.errors?.required">
          Username is required!
        </small>
        <small *ngIf="username.errors?.minlength">
          Username must be at least 6 characters!
        </small>
        <small *ngIf="username.hasError('hasWhitespace')">
          Username must not contain spaces!
        </small>
        <small *ngIf="username.hasError('usernameAlreadyTaken') && username.dirty">
          Username is already taken!
        </small>
      </div>
    </div>
    <div class="form-group">
      <input type="email" class="form-control py-4" placeholder="Email" formControlName="email" />
      <div *ngIf="submitted || email.invalid && (email.touched || email.dirty)" class="text-danger mt-1">
        <small *ngIf="email.errors?.required">
          Email is required!
        </small>
        <small *ngIf="email.errors?.email">
          Please enter the correct email!
        </small>
        <small *ngIf="email.hasError('emailAlreadyTaken')">
          Email is already taken!
        </small>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control py-4" placeholder="Password" formControlName="password" />
      <div *ngIf="submitted || password.invalid && (password.touched || password.dirty)"
        class="d-flex flex-column text-danger mt-1">
        <small *ngIf="password.hasError('required')">
          Password is required!
        </small>
        <small *ngIf="password.hasError('minlength')">
          Password must be at least 8 characters!
        </small>
        <small *ngIf="password.hasError('hasWhitespace')">
          Password must not contain a spaces!
        </small>
        <small *ngIf="password.hasError('hasLetter')">
          Password must contain at least 1 letter!
        </small>
        <small *ngIf="password.hasError('hasNumber')">
          Password must contain at least 1 number!
        </small>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control py-4" placeholder="Confirm your password"
        formControlName="confirmPassword" />
      <div *ngIf="submitted || confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)"
        class="text-danger mt-1">
        <small *ngIf="confirmPassword.errors?.required">
          Confirm password is required!
        </small>
        <small *ngIf="confirmPassword.hasError('isPassswordMatch')">
          Password do not match!
        </small>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center flex-column-reverse flex-md-column-reverse flex-lg-row">
      <a class="text-primary" [routerLink]="['', 'login']" routerLinkActive="router-link-active">I'm already have an
        account!</a>
      <button class="btn btn-primary ml-lg-4 mb-3 mb-lg-0 py-3 px-4">Sign up</button>
    </div>
  </form>
</div>
