input.ng-invalid.ng-dirty {
  border: red 1px solid;
}

input.ng-invalid.ng-touched {
  border: red 1px solid;
}

textarea.ng-invalid.ng-dirty {
  border: red 1px solid;
}

textarea.ng-invalid.ng-touched {
  border: red 1px solid;
}
