.cursor__pointer {
  cursor: pointer;
}

.custom__over-flow {
  overflow-x: auto;
}

.custom__text {
  word-wrap: break-word;
}

.text-editor {
  padding-left: 15px;
  padding-right: 15px;
  resize: none;
  width: 100%;
  overflow-y: hidden;

  &:focus {
    outline: none !important;
  }
}

.form-control {
  &:focus {
    outline: none !important;
  }
}
