<div class="p-3 bg-dark">
  <p class="h2 text-white">{{ articleObj?.title }}</p>
  <div class="d-flex justify-content-between mt-4">
    <div class="d-flex">
      <div
        class="cursor__pointer"
        (click)="seeAuthorProfile(articleObj?.author?.username)"
      >
        <img
          [src]="
            articleObj?.author?.image ||
            'https://banner2.cleanpng.com/20180625/at/kisspng-business-game-avatar-computer-program-google-smart-object-5b315c2b2ad958.6413531715299615151755.jpg'
          "
          alt="avt"
          width="50"
          class="rounded-circle"
        />
      </div>
      <div class="text-white ml-3 mr-3">
        <p
          class="mb-0 cursor__pointer"
          (click)="seeAuthorProfile(articleObj?.author?.username)"
        >
          {{ articleObj?.author?.username | titlecase }}
        </p>
        <p class="mb-0 text-white-50">
          {{ articleObj?.createdAt | date: "longDate" }}
        </p>
      </div>
    </div>
    <div class="d-flex">
      <ng-container *ngIf="currentUser !== articleObj?.author?.username">
        <ng-container
          *ngIf="!articleObj?.author?.following; then Follow; else Unfollow"
        ></ng-container>
      </ng-container>
      <ng-container *ngIf="currentUser !== articleObj?.author?.username">
        <ng-container
          *ngIf="!articleObj?.favorited; then Favorite; else Unfavorite"
        ></ng-container>
      </ng-container>
      <ng-template #Follow>
        <a
          class="btn btn-outline-light mr-3 d-flex align-items-center"
          (click)="followUser()"
        >
          <span> <i class="fas fa-plus"></i> &nbsp; Follow </span>
        </a>
      </ng-template>
      <ng-template #Unfollow>
        <a
          class="btn btn-outline-light mr-3 d-flex align-items-center"
          (click)="unFollowUser()"
        >
          <span> <i class="fas fa-plus"></i> &nbsp; Unfollow </span>
        </a>
      </ng-template>
      <ng-template #Favorite>
        <a
          class="btn btn-outline-success mr-3 d-flex align-items-center"
          (click)="favoriteArticle()"
        >
          <i class="fas fa-heart"></i> &nbsp; Favorite &nbsp;
          <span>({{ articleObj?.favoritesCount }})</span>
        </a>
      </ng-template>
      <ng-template #Unfavorite>
        <a
          class="btn btn-outline-success mr-3 d-flex align-items-center"
          (click)="unFavoriteArticle()"
        >
          <i class="fas fa-heart"></i> &nbsp; Unfavorite &nbsp;
          <span>({{ articleObj?.favoritesCount }})</span>
        </a>
      </ng-template>
      <a
        *ngIf="currentUser === articleObj?.author?.username"
        class="btn btn-outline-light mr-3 d-flex align-items-center"
        (click)="goToEditArticleDetails()"
      >
        <i class="fas fa-edit"></i> &nbsp; Edit
      </a>
      <a
        *ngIf="currentUser === articleObj?.author?.username"
        class="btn btn-outline-danger mr-3 d-flex align-items-center"
        (click)="deleteArticle()"
      >
        <i class="fas fa-trash"></i> &nbsp; Delete
      </a>
    </div>
  </div>
</div>
<div class="p-3 border border-top-0">
  Description: {{ articleObj?.description }}
</div>
<div class="p-3 border border-top-0">
  <p class="card-text">
    Tags:
    <span *ngFor="let tag of articleObj?.tagList; last as idxlast">
      <a class="btn pl-1 pr-0 text-primary" (click)="getArticlesByHastag(tag)">
        #{{ tag }}
      </a>
      <span *ngIf="!idxlast">,</span>
    </span>
  </p>
</div>
<div
  class="p-3 border border-top-0"
  [innerHTML]="articleObj?.body | markdown"
></div>
<div class="pl-3 py-3 form-group mb-0">
  <form [formGroup]="commentForm" (ngSubmit)="submitForm(commentForm)">
    <div>
      <ul
        class="text-danger"
        *ngIf="
          (commentContentError &&
            commentForm.get('content')?.invalid &&
            commentForm.get('content')?.dirty) ||
          (commentContentError &&
            commentForm.get('content')?.invalid &&
            commentForm.get('content')?.touched)
        "
      >
        <li *ngIf="commentForm.get('content')?.hasError('required')">
          Content is required
        </li>
      </ul>
    </div>
    <div class="form-group mb-0">
      <textarea
        formControlName="content"
        class="form-control"
        placeholder="Write a comment..."
        rows="3"
      ></textarea>
    </div>
    <div
      class="bg-light border border-top-0 d-flex justify-content-between p-3"
    >
      <div class="pl-2">
        <img
          src="https://banner2.cleanpng.com/20180625/at/kisspng-business-game-avatar-computer-program-google-smart-object-5b315c2b2ad958.6413531715299615151755.jpg"
          alt="avt"
          width="50"
          class="rounded-circle"
        />
      </div>
      <button type="submit" class="btn btn-success d-flex align-items-center">
        <span>Comment</span>
      </button>
    </div>
  </form>
</div>
<div class="p-3">
  <app-comment-details
    *ngFor="let comment of articleComments"
    [commentContent]="comment"
  ></app-comment-details>
</div>
