.cursor__pointer {
  cursor: pointer;
}

.custom__height {
  min-height: 50vh;
}

.bio {
  word-wrap: break-word;
}

.nav-tabs .nav-link {
  background-color: #fff;
  color: #000;
  margin-right: 2px;
}

.active {
  background-color: #17a2b8 !important;
  color: #fff !important;
  opacity: 1 !important;
  margin: 0;
}
