<div class="container mt-3 bg-dark">
  <div class="p-5 text-center">
    <img
      [src]="
        authorProfileObj?.image ||
        'https://static.productionready.io/images/smiley-cyrus.jpg'
      "
      alt="avt"
      width="200"
      height="200"
      class="rounded-circle"
    />
    <div class="mt-3">
      <h1 class="text-white">{{ authorProfileObj?.username | titlecase }}</h1>
      <p class="text-white w-75 mx-auto mb-5 bio">{{ authorProfileObj?.bio }}</p>
    </div>
    <div class="d-flex justify-content-center justify-content-sm-end">
      <button
        *ngIf="currentUser === authorProfileObj?.username"
        class="btn btn-outline-light"
        (click)="toSetting()"
      >
        <i class="fas fa-tools"></i>
        Edit Profile Setting
      </button>

      <ng-container *ngIf="currentUser !== authorProfileObj?.username">
        <ng-container
          *ngIf="!authorProfileObj?.following; then Follow; else Unfollow"
        ></ng-container>
      </ng-container>
      <ng-template #Follow>
        <a
          class="btn btn-outline-light d-flex align-items-center"
          (click)="followUser(authorProfileObj?.username)"
        >
          <span> <i class="fas fa-plus"></i> &nbsp; Follow </span>
        </a>
      </ng-template>
      <ng-template #Unfollow>
        <a
          class="btn btn-light d-flex align-items-center"
          (click)="unFollowUser(authorProfileObj?.username)"
        >
          <span> <i class="fas fa-minus"></i> &nbsp; Unfollow </span>
        </a>
      </ng-template>
    </div>
  </div>
</div>
<div class="mt-5">
  <ul ngbNav class="nav-tabs">
    <li ngbNavItem>
      <a
        ngbNavLink
        [routerLink]="['', 'profile', authorProfileObj?.username]"
        [class.active]="currentFeature?.includes('my_articles')"
      >
        My Articles
      </a>
    </li>
    <li ngbNavItem>
      <a
        ngbNavLink
        [routerLink]="['favorites']"
        [class.active]="currentFeature?.includes('favorites_articles')"
      >
        Favorite Articles
      </a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div class="p-3 mt-3" *ngIf="currentArticlesObj?.articles?.length === 0">
    <p class="h5">No articles are here... yet.</p>
  </div>
  <div class="custom__height">
    <div class="col px-0 py-3" *ngFor="let article of currentArticles">
      <app-single-article [articleObj]="article"></app-single-article>
    </div>
  </div>
  <app-pagination
    *ngIf="currentArticlesObj?.articles?.length !== 0 && currentArticlesObj?.articles?.length > pageSize"
    [collectionSize]="currentArticlesObj?.articlesCount"
    [pageSize]="pageSize"
    [maxSize]="maxSize"
    (currentPageClick)="getCurrentPageIndex($event)"
  ></app-pagination>
</div>
