<div class="w-50 mx-auto">
  <ng-particles class="custom-particle" [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)"></ng-particles>
  <form class="d-flex flex-column" [formGroup]="signInForm" (ngSubmit)="login()">
    <h1 class="text-center text-secondary my-5">Sign in</h1>
    <div class="form-group">
      <input type="email" class="form-control py-4" placeholder="Email" formControlName="email" />
      <div *ngIf="submitted || email.invalid && email.touched" class="text-danger">
        <small *ngIf="email.errors?.required">
          Email is required!
        </small>
        <small *ngIf="email.errors?.email">
          Please enter the correct email!
        </small>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control py-4" placeholder="Password" formControlName="password" />
      <div *ngIf="submitted || password.invalid && password.touched" class="text-danger">
        <small *ngIf="password.errors?.required">
          Password is required!
        </small>
        <small *ngIf="password.errors?.minlength">
          Password must be at least 6 characters!
        </small>
      </div>
    </div>
    <div class="align-self-end pt-4">
      <a [routerLink]="['', 'register']" routerLinkActive="router-link-active">Register an account?</a>
      <button class="btn btn-primary ml-4 py-3 px-4">Sign in</button>
    </div>
  </form>
</div>
