/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import "~ngx-toastr/toastr-bs4-alert";

html,
body {
  font-family: "Montserrat", sans-serif !important;
  height: 100%;
}

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.21);
  padding-left: 12px;
  color: rgba(0, 0, 0, 0.54);
}
