$bg-color: #8f8e8e;
$bg-color-second: #f8f9fa;
$text-color: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@1,500&display=swap');


.nb{
  position: relative;
  z-index: 99;
}

.banner {
  background-image: url('../../../../assets/images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  position: relative;
  z-index: 10;

  a,
  button {
    color: $text-color;

    &:hover {
      color: #000;
    }
  }

  nav {
    background-color: $bg-color;
    opacity: 0.7;
  }

  .dropdown-menu {
    background-color: #000;

    button:hover {
      color: #000000;
      background-color: #c4c4c4;
    }
  }

  .title {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

}

.dropdown-menu {
  min-width: 112% !important;
}

.hide {
  display: none;
}

@media only screen and (min-width: 1500px) {
  .banner {
    height: 50rem;
  }
}

